<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addEmployee()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:-</label>
                    <input type="text" class="form-control" id="name" placeholder="Add Name of the Employee" [(ngModel)]="AddEmployeeRequest.name" name="name">
               </div>
              <div class="mb-3">
                   <label for="email" class="form-label">Email:-</label>
                   <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="AddEmployeeRequest.email" name="email">
             </div>
             <div class="mb-3">
                <label for="phonenumber" class="form-label">Phone:-</label>
                <input type="number" class="form-control" id="phonenumber" placeholder="Add contact number" [(ngModel)]="AddEmployeeRequest.phonenumber" name="phonenumber">
             </div>
             <div class="mb-3">
                <label for="salary" class="form-label">Salary:-</label>
                <input type="number" class="form-control" id="salary" placeholder="00000" [(ngModel)]="AddEmployeeRequest.salary" name="salary">
            </div>
            <div class="mb-3">
                <label for="department" class="form-label">Department:-</label>
                <input type="text" class="form-control" id="department" placeholder="Add Department"[(ngModel)]="AddEmployeeRequest.department"  name="department" >
          </div>  
          <button type="submit" class="btn btn-primary">Save</button>
         </form>
        </div>
    </div>
    
</div>